h1{
    height: 40px;
    margin-bottom: 30px;
    padding-bottom: 1px solid;
    text-size-adjust: 20px;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
}
.cuadro{
    background-color: #4e4d4d;
    margin: 10px 16px;
    margin-top: 1px;
    padding: 20px 30px;
    border-top: 2px solid aqua;
}
body{
    background-image:url(../images/bg.png);
}    
tr{
    color: white;
    background-image: url(../images/code.jpg);
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background-color: #4e4d4d;
    padding: 20px;
    border-top: 2px solid aqua;
}
td{
    padding: 10px 25px 10px 25px;
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;

}
a{
    color:white;
}    
